.App {
  text-align: center;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.recipe-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.recipe-item {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
}

.recipe-item h3 {
  margin-top: 0;
}

.recipe-item h4 {
  margin-bottom: 5px;
}

.recipe-item ul,
.recipe-item ol {
  margin-top: 5px;
  margin-bottom: 10px;
}

.recipe-item li {
  margin-bottom: 5px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

.recipe-item {
  cursor: pointer;
}

.recipe-item:hover {
  opacity: 0.8;
}

.recipe-item:active {
  transform: scale(0.95);
}
